  
<!-- Main Nav Bar and outlet -->
  <script type="text/x-handlebars">
    <nav class="top-bar">
      <ul class="title-area">
        <li class="name">
          <h1>{{#linkTo index}}QA{{/linkTo}}</h1>
        </li>
      </ul>
      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
          <li class="divider"></li>
          <li> <a href="/#/question/new">Add an Question</a></li>
        </ul>
      </section>
    </nav>
    {{outlet}}
  </script>

<!-- List of questions -->
<script type="text/x-handlebars" id="questions">
  <h2>Question of the day</h2>
    <div class="row">
      <div class="large-6 columns">
        {{#each question in model}}
          <h3>{{question.questionline}}</h3>
        {{/each}}
      </div>
    <div class="large-6 columns">
      {{outlet}}
    </div>
  </div>
</script>

<script type="text/x-handlebars" data-template-name="questions/show">
  <div class="row">
    <div class="large-12 columns">
      <h3>
      <!--question title -->
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="large-6 small-12 columns">
      <p><!-- One answer --></p>
    </div>
    <div class="large-6 small-12 columns">
      <p><!-- The other answer --></p>
    </div>
  </div>
</script>

<script type="text/x-handlebars" data-template-name="questions/new">
  <h2>Add a new Question</h2>
    <form>
      <p>{{view Ember.TextField valueBinding="name" placeholder="Your Name"}}</p>
      <p>{{view Ember.TextField valueBinding="email" placeholder="Email Address"}}</p>
      <p>{{view Ember.TextArea valueBinding="question" placeholder="What"}}</p>
        <p><button {{action save}} type="submit" class="button small radius">Post Your Question</button></p>
    </form>
</script>
